@import '../../../../projectStyles.scss';

.cart {
    position: relative;
    height: 100%;
    padding: 0 12rem;

    @include responsive(tablet_port) {
        padding: 0 5rem;
    }

    .itemCount {
        position: absolute;
        top: 4rem;
        right: 10rem;
        height: 22rem;
        width: 22rem;
        line-height: 22rem;
        font-size: 13rem;
        font-weight: 700;
        color: $color-grey-dark-2;
        background-image: linear-gradient(to right bottom, gold, orange);
        border-radius: 50%;
    }

    .cartIcon {
        fill: currentColor;
        height: 100%;
        padding: 8rem; 
    }
}